{
  "presets": [
    "env",
    "react"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-class-properties"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties"
      ]
    }
  }
}
